:root {
  --primary-title-color: #933fff;
  --primary-font-family: "Poppins", "Segoe UI", sans-serif;

  --gap-extra-large: 50px;
  --gap-large: 40px;
  --gap-medium: 30px;
  --gap-small: 20px;
  --gap-extra-small: 10px;
}

* {
  font-family: var(--primary-font-family);
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  place-items: center;

  gap: var(--gap-extra-large);
  padding: 40px;
}

body > * {
  max-width: 800px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (width <= 600px) {
  header {
    flex-direction: column;
    gap: var(--gap-small);
    text-align: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

h3 {
  text-transform: uppercase;
  color: var(--primary-title-color);
}

p {
  text-align: justify;
}

ol,
ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: var(--gap-extra-small);
}

contact-link {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-extra-small);
}

contact-link-item {
  flex: 1 300px;
}

work-history {
  display: flex;
  flex-direction: column;
  gap: var(--gap-extra-small);
}
