* {
  font-family: var(--primary-font-family);
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  place-items: center;

  gap: var(--gap-extra-large);
  padding: 40px;
}

body > * {
  max-width: 800px;
  width: 100%;
}

img {
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (width <= 600px) {
  header {
    flex-direction: column;
    gap: var(--gap-small);
    text-align: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

h3 {
  text-transform: uppercase;
  color: var(--primary-title-color);
}

ol,
ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: var(--gap-extra-small);
}
